DATABASE_URL="postgresql://neondb_owner:change@me....aws.neon.tech/neondb?sslmode=require&channel_binding=require"
EMAIL_FROM="change@me.com"
RESEND_API_KEY="change"
AUTH_SECRET="change"
AUTH_URL="localhost:3000"
